<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WebServicePaths" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <appSettings>
    <add key="ServerUrl" value="http://localhost:9000"/>
  </appSettings>

  <WebServicePaths>
    <add key="Authenticate" value="/account/authenticate" />
    <add key="DownloadFile"  value="/download" />
    <add key="UploadFile" value="/putFile" />
    <add key="GetUserFilePropertyProfiles" value="/account/profile/getAllProfiles" />
    <add key="GetFilePropertiesByGuid" value="/file/getFilePropertiesByGuid" />
  </WebServicePaths>
  

</configuration>
